.image_wrapper {
  width: fit-content;
  margin-bottom: 24px;
}

.image_wrapper img {
  border-radius: 14px;
  width: 100%;
  height: auto;
  display: block;
}
.confirm_buttons {
  margin-top: 20px;
  display: flex;
}
.correct_btn {
  margin-right: 20px;
}
.mark {
  width: 21px;
  height: 30px;
  left: auto;
  right: 16px;
}
