@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.user-icon {
  width: 50px;
  height: 50px;
  stroke-width: 1.3;
}
.add-worker-btn-wrapper {
  position: fixed;
  margin-right: 34px;
  margin-bottom: 34px;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 15px;
  z-index: 99;
}
.add-worker-btn {
  border: none;
  background-color: #6ed0fe9c;
  padding: 13px;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 3px 5px 10px -5px;
}
.add-worker-btn:hover {
  color: black;
}
.add-worker-btn-text {
  font-weight: 600 !important;
}
.adduser-form-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.assign-worker-form {
  padding: 32px;
  width: 600px;
  justify-content: center;
  z-index: 99999999;
  background-color: white;
  flex-direction: column;
}
.assign-worker-form input,
.assign-worker-form select {
  height: 64px;
  border-radius: 5rem;
  border: 1px solid #ced4da;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
  margin-top: 1rem;
}
.cancel-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.dropdown-wrapper {
  width: 600px;
}
.staff-component-body {
  padding-bottom: 95px;
}
.inputbox {
  width: -webkit-fill-available;
  border: 1px solid #ced4da;
  border-radius: 5rem;
  height: 64px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.react-tel-input .form-control {
  width: 100% !important;
  height: 64px !important;
  border-radius: 5rem !important;
}
.react-tel-input .flag-dropdown,
.react-tel-input .selected-flag {
  border-radius: 5rem 0 0 5rem !important;
}
.accordion-content {
  background-color: #dcdbdbcc;
}
.empty-worker {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #a5b0c4;
  font-weight: 600;
}
/* .dropdown-btn {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
