.icon {
  width: 36px;
  height: 36px;
  stroke-width: 1.5px;
  margin-right: 13px;
}
.add-worker-btn-wrapper {
  position: fixed;
  margin-right: 34px;
  margin-bottom: 34px;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 15px;
}
.add-worker-btn {
  border: none;
  background-color: #6ed0fe9c;
  padding: 13px;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 3px 5px 10px -5px;
}
.add-worker-btn:hover {
  color: black;
}
.add-worker-btn-text {
  font-weight: 600 !important;
}
.adduser-form-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.assign-worker-form {
  padding: 32px;
  width: 600px;
  justify-content: center;
  z-index: 99999999;
  background-color: white;
  flex-direction: column;
}
.cancel-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.dropdown-wrapper {
  width: 600px;
}
.inputbox{
  width: -webkit-fill-available;
  border: 1px solid #ced4da;
  border-radius: 5rem;
  height: 64px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.react-tel-input .form-control{
  width: 100% !important;
  height: 64px !important;
  border-radius:5rem !important;
}
.react-tel-input .flag-dropdown,.react-tel-input .selected-flag{
  border-radius: 5rem 0 0 5rem !important;
}


