.calculator_wrapper {
  padding: 40px;
  width: fit-content;
}
.crop {
  padding: 10px;
  border-radius: 5px;
  background-color: #dcdad76e;
  box-shadow: -3px 4px 10px -8px;
  width: fit-content;
  display: flex;
  align-items: center;
}
.boxes {
  width: 16rem;
}
.box_label {
  font-weight: 600;
}
.inputs {
  border-radius: 5px;
  background-color: white;
  height: 33px !important;
}
.pesticide,
.herbicide,
.fertilizer,
.field_preparation,
.harvest,
.total_expense {
  padding: 10px;
  border-radius: 5px;
  background-color: #dcdad76e;
  box-shadow: -3px 4px 10px -8px;
  margin-top: 20px;
}
.radio_btn {
  height: 17px;
  display: flex;
  justify-content: start;
  width: 31px;
}
.radio_btn_wrapper {
  display: flex;
  align-items: center;
}
